<section class="home-slider">
<!-- .home-slider -->
   <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
         <div class="item active" style="background-image: url(img/header3.png); background-size: cover; background-position: bottom;">
           <div class="caption">
             <div class="slider-title animated fadeInDown">
               <h2>
                Promoviendo
               </h2>
               <h2 class="bold-heading">la confianza del público</h2>
               <h2 class="bold-heading">en las entidades</h2>

              <hr>
             </div>
           </div>
         </div>
         <div class="item" style="background-image: url(img/banner2.png); background-size: cover; background-position: bottom;">
           <div class="caption">
             <div class="slider-title animated fadeInDown">
               <h2>
                <a href="https://www.descubre.bo/" target="_blank">Descubre</a>
               </h2>
               

              <hr>
             </div>
           </div>
         </div>
         <div class="item" style="background-image: url(img/header3.png); background-size: cover; background-position: bottom;">
           <div class="caption">
             <div class="slider-title animated fadeInDown">
               <h2>
                Promoviendo
               </h2>
               <h2 class="bold-heading">la confianza del público</h2>
               <h2 class="bold-heading">en las entidades</h2>

              <hr>
             </div>
           </div>
         </div>
      </div>
      <ol class="carousel-indicators">
         <li data-target="#home-slider" data-slide-to="0" class="active"></li>
         <li data-target="#home-slider" data-slide-to="1"></li>
         <li data-target="#home-slider" data-slide-to="2"></li>
      </ol>
   </div>
    <!-- /.home-slider -->
</section>
