<section class="home-slider">
<!-- .home-slider -->
   <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
     <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
     </ol>
      <div class="carousel-inner">
         <div class="item active" style="background-image: url(img/banner1.png); background-size: cover; background-position: bottom;">
            <div class="caption">
               <h2 class="animated fadeInDown">Let Our <strong>Experience be</strong> Your <br> Guide</h2>
               <p class="animated fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br/>
                  nibh euismod tincidunt ut laoreet dolore magna aliqua
               </p>
               <a data-scroll class="cd-btn animated fadeInUp" href="#video">read more</a>
               <a href="#0" class="cd-btn secondary animated fadeInUp">contact us</a>
            </div>
         </div>
         <div class="item" style="background-image: url(img/header3.jpg); background-size: cover; background-position: bottom;">
            <div class="caption">
               <h2 class="animated fadeInDown">Let Our <strong>Experience be</strong> Your <br> Guide</h2>
               <p class="animated fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br/>
                  nibh euismod tincidunt ut laoreet dolore magna aliqua
               </p>
               <a data-scroll class="cd-btn animated fadeInUp" href="#video">read more</a>
               <a href="#0" class="cd-btn secondary animated fadeInUp">contact us</a>
            </div>
         </div>
         <div class="item" style="background-image: url(img/banner2.png); background-size: cover; background-position: bottom;">
            <div class="caption">
               <h2 class="animated fadeInDown">Let Our <strong>Experience be</strong> Your <br> Guide</h2>
               <p class="animated fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br/>
                  nibh euismod tincidunt ut laoreet dolore magna aliqua
               </p>
               <a data-scroll class="cd-btn animated fadeInUp" href="#video">read more</a>
               <a href="#0" class="cd-btn secondary animated fadeInUp">contact us</a>
            </div>
         </div>
      </div>
   </div>
    <!-- /.home-slider -->
</section>
