<style>
.statistics-summary {
  /*background-image: image-url("asoban-manual.png"), linear-gradient(#b6b8ba, #b1b2b3);*/
  padding: 30px;
  background-size: cover;
  height: 240px;
  max-height: 240px;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  margin: 15px 5px 50px 5px;
}

.statistics-content {
  display: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}
</style>

<section class="statistics standalone-section">
  <div class="container">
    <div class="vertical-space-50px"></div>
    <!-- Statistic summary -->
    <div class="row">
      <div class="statistics-summary">
        <div class="col-md-4">
          <h2 class="bold-heading"><h3>Analisis de estadisticas</h3></h2>
          <hr>
          <div class="row">
            <div class="col-sm-6 col-md-5 button-box">
              <a class="summary-button publication-button publication-button-text">Leer Más</a>
            </div>
            <div class="col-sm-6 col-md-6 button-box">
              <a href="#" data-toggle="modal" data-target="#pdf-viewer-modal" class="summary-button publication-button publication-button-text">Ver PDF</a>
            </div>
          </div>
        </div>
        <div class="col-md-8 statistics-content">
          <p>
            He studied at the Universities of Würzburg and Zurich, and in 1866 served as a military physician in the Austro-Prussian War. From 1868 to 1870 he was an assistant to Johann Friedrich Horner (1831–1886) at the University Eye Clinic in Zurich. During the Franco-Prussian War (1870–71), he again served as a military doctor, and afterwards worked with Gustav Schwalbe (1844–1916) at Carl Ludwig's Physiological Institute in Leipzig.
            In 1872 he earned his habilitation in Leipzig, and subsequently became an associate professor of ophthalmology at the University of Erlangen, where in 1874 he gained a full professorship. In 1879 he was named successor to Robert von Welz at the ophthalmology clinic in Würzburg,[1] and later on, he was a replacement for Karl Ernst Theodor Schweigger at the University of Berlin (1900).
            Michel is remembered for work involving tuberculosis of the eye,[2] and his pioneer research of central retinal vein occlusion.[3]
            Among his written efforts are Lehrbuch der Augenheilkunde (Textbook of ophthalmology, 1890) and Klinischer Leitfaden der Augenheilkunde (Guide to clinical ophthalmology). With Hermann Kuhnt (1850–1925), he founded the journal Zeitschrift für Augenheilkunde.
          </p>
        </div>
      </div>
    </div>
    <!-- Statistic summary -->
    <!-- Statistic summary -->
    <div class="row">
      <div class="statistics-summary">
        <div class="col-md-4">
          <h2 class="bold-heading"><h3>Analisis de estadisticas</h3></h2>
          <hr>
          <div class="row">
            <div class="col-sm-6 col-md-5 button-box">
              <a class="summary-button publication-button publication-button-text">Leer Más</a>
            </div>
            <div class="col-sm-6 col-md-6 button-box">
              <a href="#" data-toggle="modal" data-target="#pdf-viewer-modal" class="summary-button publication-button publication-button-text">Ver PDF</a>
            </div>
          </div>
        </div>
        <div class="col-md-8 statistics-content">
          <p>
            He studied at the Universities of Würzburg and Zurich, and in 1866 served as a military physician in the Austro-Prussian War. From 1868 to 1870 he was an assistant to Johann Friedrich Horner (1831–1886) at the University Eye Clinic in Zurich. During the Franco-Prussian War (1870–71), he again served as a military doctor, and afterwards worked with Gustav Schwalbe (1844–1916) at Carl Ludwig's Physiological Institute in Leipzig.
            In 1872 he earned his habilitation in Leipzig, and subsequently became an associate professor of ophthalmology at the University of Erlangen, where in 1874 he gained a full professorship. In 1879 he was named successor to Robert von Welz at the ophthalmology clinic in Würzburg,[1] and later on, he was a replacement for Karl Ernst Theodor Schweigger at the University of Berlin (1900).
            Michel is remembered for work involving tuberculosis of the eye,[2] and his pioneer research of central retinal vein occlusion.[3]
            Among his written efforts are Lehrbuch der Augenheilkunde (Textbook of ophthalmology, 1890) and Klinischer Leitfaden der Augenheilkunde (Guide to clinical ophthalmology). With Hermann Kuhnt (1850–1925), he founded the journal Zeitschrift für Augenheilkunde.
          </p>
        </div>
      </div>
    </div>
    <!-- Statistic summary -->
  </div>
</section>
<div class="vertical-space-50px"></div>
