@font-face {
  font-family: "Roboto";
  src: font-url("roboto/roboto-thin.eot");
  src: font-url("roboto/roboto-thin.eot#iefix") format("embedded-opentype"), font-url("roboto/roboto-thin.woff2") format("woff2"), font-url("roboto/roboto-thin.woff") format("woff"), font-url("roboto/roboto-thin.ttf") format("truetype");
  font-weight: 300px;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: font-url("roboto/roboto-regular.eot");
  src: font-url("roboto/roboto-regular.eot#iefix") format("embedded-opentype"), font-url("roboto/roboto-regular.woff2") format("woff2"), font-url("roboto/roboto-regular.woff") format("woff"), font-url("roboto/roboto-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: font-url("roboto/roboto-medium.eot");
  src: font-url("roboto/roboto-medium.eot#iefix") format("embedded-opentype"), font-url("roboto/roboto-medium.woff2") format("woff2"), font-url("roboto/roboto-medium.woff") format("woff"), font-url("roboto/roboto-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: font-url("roboto/roboto-bold.eot");
  src: font-url("roboto/roboto-bold.eot#iefix") format("embedded-opentype"), font-url("roboto/roboto-bold.woff2") format("woff2"), font-url("roboto/roboto-bold.woff") format("woff"), font-url("roboto/roboto-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
