<p>Hola,</p>

<p>Recientemente solicitaste reestablecer tu contraseña de <a href="http://www.asoban.com">Asoban.com</a>, puedes hacer esto pinchando en el siguiente enlace:</p>

<%= link_to 'Reestablecer mi contraseña', edit_password_url(@resource, reset_password_token: @token) %>

<p>Si no solicitaste el cambio de contraseña puedes ignorar este correo.</p>
