<p>Hola,</p>

<p>Recientemente se cre칩 una cuenta en <a href="http://www.asoban.com">Asoban.com</a>con tu correo electr칩nico.</p>

<p>Lo primero que debes hacer es cambiar tu contrase침a siguiendo el siguiente enlace.</p>

<%= link_to 'Cambiar contrase침a', edit_password_url(@resource, reset_password_token: @token) %>
