
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="box">
      <div class="box-header">
				<h2>Editar entrada de la agenda</h2>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <%= render 'form', agenda_entry: @agenda_entry %>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
